<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>YouTube To Mp3 Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div id="loading" class="mainlabel"> YT2MP3</div>
    <br><br><br>
    <center>
        <form method="POST">
            <input class="inputfield" type="text" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" name="yturl">
            <button class="btn"><i class="fa fa-download"></i> Download</button>
        </form>
    </center>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    
</body>
</html>